.blog-container {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.blog-posts {
  display: flex;
  flex-direction: column;
}

.blog-post {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.blog-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
}

.blog-info {
  display: flex;
  flex-direction: column;
}

.blog-title {
  font-size: 0.8rem;
  font-weight: bold;
}

.blog-date {
  font-size: 12px;
  color: #888;
}
