/* mensajeCss.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el contenedor principal del mensaje */
.mensaje-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px; /* Ancho del mensaje */
  max-height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  display: flex;
  flex-direction: column;
}

/* Estilos para la lista de usuarios */
.user-list {
  overflow-y: auto;
  max-height: 200px;
}

.user-list ::-webkit-scrollbar{
  display: none;
}

.user {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.user:hover {
  background-color: #f0f0f0;
}

.user.active {
  background-color: #e0e0e0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.toggle-chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4c24ee;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-chat-button:hover {
  background-color: #3621b4;
}

/* Estilos para el contenedor del chat */
.floating-chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.floating-chat-container .messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Estilos de mensajes */
.message {
  margin-bottom: 10px;
}

.message.sent {
  text-align: right;
}

.message.received {
  text-align: left;
}

.message .content {
  max-width: 70%;
  padding: 10px;
  border-radius: 16px;
  margin: 5px 0;
  display: inline-block;
}

.message.sent .content {
  background-color: #4c24eea4;
  color: #ffffff;
}

.message.received .content {
  background-color: #161a388c;
  color: #ffffff;
}

.card-body {
  background-color: #170e43;
  color: #ffffff;
}

.card-header {
  background-color: #170e43;
  color: #ffffff;
  border-bottom: 1px solid #ffa900;
}

.card-footer {
  background-color: #170e43;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.form-control {
  background-color: #ffffff;
  color: #000000;
  border-radius: 16px;
  padding: 10px;
  margin-right: 10px;
}

.mdb-btn {
  background-color: #4c24ee;
  color: #ffffff;
  border-radius: 16px;
  padding: 5px 10px;
}
