Añadir a tu archivo CSS o directamente en los componentes
.nav-link img {
    max-height: 40px;
    max-width: 40px;
  }
  
  @media (max-width: 768px) {
    .nav-link img {
      max-height: 30px;
      max-width: 30px;
    }
  
    .lead.fw-normal.mb-0 {
      margin: 0.1rem;
    }
  
    .d-flex.justify-content-between.align-items-center.mb-4 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
   