.following {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.following-list {
  display: flex;
  flex-direction: column;
}

.following-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.following-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.following-name {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 70px; /* Ajusta según sea necesario */
}
