/* Estilo global */
body {
  font-family: 'Poppins', sans-serif; /* Fuente más llamativa */
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; /* Asegurarse que los títulos usen la nueva fuente */
  color: #006400; /* Un color verde más oscuro para títulos */
  margin-bottom: 10px;
}

p, div, span {
  font-family: 'Arial', sans-serif; /* El texto general mantiene 'Arial' para legibilidad */
  color: #444;
}

/* Estilo del contenido de las tareas */
.task-content {
  background-color: #f0f9f0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif; /* Fuente más atractiva */
  color: #333;
  margin-bottom: 20px;
}

/* Sección de clima */
.weather-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f7e6;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.temperature {
  font-size: 1.5em;
  font-weight: bold;
  color: #008080; /* Verde azulado */
}

/* Sección de plantas */
.plant-section {
  background-color: #f0fff0;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #228b22;
}

.plant-info {
  margin-bottom: 10px;
}

.plant-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #006400; /* Color verde más oscuro */
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.date-time {
  color: #666;
}

/* Botón */
button {
  background-color: #228b22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006400; /* Verde más oscuro al pasar el cursor */
}

/* Precipitación */
.precipitation {
  color: #444;
}

/* Estilo para asegurar que los íconos tengan el mismo tamaño */
.icon {
  width: 24px; /* Ajusta el tamaño según sea necesario */
  height: 24px;
  vertical-align: middle; /* Alinea los íconos con el texto */
  margin-right: 10px; /* Añade un pequeño margen a la derecha para separarlos del texto */
}

/* Alineación del contenido */
.weather-info, .plant-needs {
  display: flex;
  align-items: center;
  gap: 5px; /* Añade un espacio entre los íconos y el texto */
}

.weather-section, .plant-section {
  margin-bottom: 16px; /* Espacio entre las secciones */
}

.weather-icon, .precipitation {
  display: flex;
  align-items: center;
}
