.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .post {
    width: calc(50% - 10px); /* Ajusta el ancho de las columnas y deja espacio para el margen */
    margin-bottom: 20px; /* Espacio entre las filas */
  }
  
  .post-content {
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .post {
      width: 100%;
    }
  }

  .post-text {
    font-family: 'Arial', sans-serif; /* Puedes cambiarlo a cualquier fuente que prefieras */
    font-size: 1.2rem; /* Tamaño de la fuente */
    color: #3693cd; /* Color de la letra */
    text-align: center; /* Alineación del texto */
    margin: 20px 0; /* Márgenes superiores e inferiores */
    padding: 80px; /* Espaciado interno */
    background-color: #6835c1; /* Fondo claro para resaltar el texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(52, 157, 238, 0.1); /* Sombra ligera para dar un efecto de profundidad */
  }

  .post-description {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #666666;
    opacity: 0.8;
    margin: 10px 0;
  }
  
  .post-date {
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    color: #888888;
    opacity: 0.7;
    margin: 0;
  }
  
  .post-type {
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    color: #999999;
    opacity: 0.6;
    margin: 0;
  }
  
  .post-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333333;
    opacity: 0.9;
    margin: 10px 0;
  }

  .post-image {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    align-items: center;
  }

  .post-video {
    width: 100%;
    height: 320px;
  }
  
  .post-footer {
    display: flex;
    flex-direction: column;
  }
  
  
  