body {
  background-color: #f7f7f7; /* Color de fondo crema */
}

.main-page {
  padding-top: 60px; /* Altura del navbar */

  background-color: aliceblue;
  background: white;

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(
    to right,
    #2d3fc8,
    #515fc78c,
    #36a0dd,
    #1ec1da
  ); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, #4c24eea4, #2d2adf, #14a1d0, #1b87aa); */

  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  /* @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  } */
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10%; /* Márgenes laterales del 10% */
}

.sidebar,
.right-sidebar {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 60px; /* Debajo del navbar */
  height: calc(100vh - 80px); /* Ajustado por los márgenes y el navbar */
  overflow-y: auto;
}

.activity-feed {
  width: 50%; /* Ajustado para dejar espacio entre los contenedores */
  margin: 0 1%;
  overflow: hidden;
}

.sidebar {
  width: 20%;
}

.right-sidebar {
  width: 20%;
}

.activity-feed-content,
.blog,
.following,
.complete-profile,
.latest-updates {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px; /* Espacio entre los componentes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
